src/main/app/ssl-one-way.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="serverLisener" host="0.0.0.0" port="${http.server.port}" doc:name="HTTP Listener Configuration" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="serverStore.jks" alias="selfsigned" keyPassword="changeit" password="password"/>
        </tls:context>
    </http:listener-config>
    <http:listener-config name="httpUnsecuredListener" host="0.0.0.0" port="${http.client.port}" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="localhost" port="${http.server.port}" doc:name="HTTP Request Configuration">
        <tls:context>
            <tls:trust-store path="serverStore.jks" password="password" type="jks"/>
        </tls:context>
    </http:request-config>
    <flow name="serverFlow">
        <http:listener config-ref="serverLisener" path="/server" doc:name="serverFlow"/>
        <set-payload value="#['Request received']" doc:name="Set Payload"/>
    </flow>
    <flow name="clientFlow">
        <http:listener config-ref="httpUnsecuredListener" path="/client" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/server" method="GET" doc:name="HTTP"/>
    </flow>
</mule>
